/* Estilo Global */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Tema Claro (Padrão) */
  body.light-theme {
    background-color: #ffffff;
    color: #000000;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #ffffff;
  }
  
  header h1 {
    margin: 0;
  }
  
  main {
    padding: 20px;
  }
  
  article {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
  }
  
  /* Tema Escuro */
  body.dark-theme {
    background-color: #121212;
    color: #ffffff;
  }
  
  body.dark-theme article {
    background-color: #1e1e1e;
    border-color: #444;
  }
  
  body.dark-theme footer {
    background-color: #000;
  }
  